@import url(https://fonts.googleapis.com/css?family=Lobster);
html {
    height:100%;
    background:-webkit-linear-gradient(top,#4169e1,#00008b);
    background:linear-gradient(to bottom,#4169e1,#00008b);
    text-align:center;
    color:white;
    font-family:Arial,Helvetica,sans-serif
}
a {
    text-decoration:none;
    margin-top:100px;
    color:white;
    font-size:100px;
    font-family:lobster,sans-serif;
    -webkit-transform:rotate(-5deg);
    -ms-transform:rotate(-5deg);
    transform:rotate(-5deg);
    text-shadow:1pt 1pt 1pt darkblue;
    display:block
}
a:hover {
    text-shadow:2pt 2pt 2pt darkblue
}
