@import url(https://fonts.googleapis.com/css?family=Lobster);
html {
height:100%;
text-align:center;
color:darkgrey;
font-family:Arial,Helvetica,sans-serif
}
a {
text-decoration:none;
margin-top:50px;
color:white;
font-size:100px;
font-family:lobster,sans-serif;
-webkit-transform:rotate(-5deg);
-ms-transform:rotate(-5deg);
transform:rotate(-5deg);
text-shadow: 1px 1px 1px grey;
display:block
}
a:hover {
text-shadow: 1.5px 1.5px 1.5px grey;
}
