doctype
html(lang="en")
    head
        meta(charset="utf-8")
        meta(desciption="The personal website of Henrik Sjööh")
        meta(name="viewport" content="width=device-width, initial-scale=1")
        link(rel="stylesheet" href="/enhenrik.css")
        title enhenrik.nu

    body
        div.content
            a.header(href="/")
                include enhenrik.svg
            != yield