doctype html
html(lang="en")
    head
        meta(charset="utf-8")
        meta(name="viewport" content="width=device-width, initial-scale=1")
        title enhenrik.nu
        link(rel="stylesheet" href="/enhenrik.css")

    body
        div.content
            a.header(href="/")
                include enhenrik.svg
            p Hello there! My name is Henrik Sjööh and I am a web developer from Sweden.
            p
                | Find me on 
                a(href="https://github.com/henriiik") github
                | , 
                a(href="https://twitter.com/enhenrik") twitter
                |  or 
                a(href="https://www.linkedin.com/in/henriksjooh") linkedin
                | .
